<h1>Show Detour</h1>
<div id="show-detour">
<% form_for(@detour) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label(:detour_type, 'Type') %></td>
      <td><%= f.text_field(:detour_type_str, :disabled => 'disabled') %></td>
      <td><%= f.label :reason %></td>
      <td><%= f.text_field(:reason, :size => 20, :disabled => 'disabled') %></td>
    </tr>
    <tr>
      <td><%= f.label(:start_date, 'Start') %></td>
      <td><%= f.text_field(:start_date_formated, :size => 10, :disabled => 'disabled') %></td>
      <td><%= f.label(:start_time, 'Time') %></td>
      <td><%= f.text_field(:start_time_formated, :size => 10, :disabled => 'disabled') %></td>
    <tr>
    <tr>
      <td><%= f.label(:end_date, 'End') %></td>
      <td><%= f.text_field(:end_date_formated, :size => 10, :disabled => 'disabled') %></td>
      <td><%= f.label(:end_time, 'Time') %></td>
      <td><%= f.text_field(:end_time_formated, :size => 10, :disabled => 'disabled') %></td>
    </tr>
    <tr>
      <td><%= f.label :route %></td>
      <td><%= f.text_field(:route, :size => 20, :disabled => 'disabled' ) %></td>
      <td><%= f.label :direction %></td>
      <td><%= f.text_field(:direction_str, :size => 10, :disabled => 'disabled' ) %></td>
    </tr>
    <tr>
      <td valign="top"><%= f.label :description %></td>
      <td colspan="3"><%= f.text_area(:description, :cols => 57, :rows => 6, :disabled => 'disabled') %></td>
    </tr>
    <tr>
      <td><%= f.label :supervisor %></td>
      <td><%= f.text_field(:supervisor, :size => 20, :disabled => 'disabled') %></td>
      <td><%= f.label :dispatcher %></td>
      <td><%= f.text_field(:dispatcher, :size => 20, :disabled => 'disabled') %></td>
    </tr>
    <tr>
      <td><%= f.label :bulletin_number %></td>
      <td><%= f.text_field(:bulletin_number, :size => 20, :disabled => 'disabled') %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
    <hr>
    <table>
	<tr>
	<th>Created</th>
	<th><%= create_pdf_url %></th>
	</tr>
   <% if (if_accessible('detours', 'show_detail')) %>
	<tr>
		<td><%= f.label :created_at %></td>
		<td><%= f.text_field(:created_at, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :create_addr %></td>
		<td><%= f.text_field(:create_addr, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :create_pdf_path %></td>
		<td><%= f.text_field(:create_pdf_path, :size => 20, :disabled => 'disabled') %></td>
	</tr>
  <% end %>
	<tr>
		<th>Changed</th>
		<th><%= change_pdf_url %></th>
	</tr>
   <% if (if_accessible('detours', 'show_detail')) %>
	<tr>
		<td><%= f.label :change_at %></td>
		<td><%= f.text_field(:change_at, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :change_addr %></td>
		<td><%= f.text_field(:change_addr, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :change_pdf_path %></td>
		<td><%= f.text_field(:change_pdf_path, :size => 20, :disabled => 'disabled') %></td>
	</tr>
  <% end %>
	<tr>
		<th>Canceled</th>
		<th><%= cancel_pdf_url %></th>
	</tr>
   <% if (if_accessible('detours', 'show_detail')) %>
	<tr>
		<td><%= f.label :cancel_date %></td>
		<td><%= f.text_field(:cancel_date_formated, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :cancel_addr %></td>
		<td><%= f.text_field(:cancel_addr, :size => 20, :disabled => 'disabled') %></td>
	</tr>
	<tr>
		<td><%= f.label :cancel_pdf_path %></td>
		<td><%= f.text_field(:cancel_pdf_path, :size => 20, :disabled => 'disabled') %></td>
	</tr>
  <% end %>
    </table>
<% end %>
</div>

<div id='lower-navigation'>
<h2><%= link_to 'Back to List', detours_path %></h2>
</div>
